@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sono:wght@200;300;400;600;800&family=Yusei+Magic&display=swap');
@font-face {
    font-family: 'Magic Owl';
    src: url(fonts/magicOwl.otf) format("opentype");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /*COLORS*/
    --button-hover: #ac2d2d;
    --back-main: #000000d7;
    --button-text: #d1cfcf;
    --text-color: #e4e1e1;
    --button-back: #474646;
    --label-hover: #f1e045;

    /*FONTS*/
    --font-text: 'Sono', sans-serif;
    --font-title: 'Yusei Magic', sans-serif;

    /*ACCESSIBILITY*/
    font-size: 62.5%;
}

body{
    background-color: white;
    background-image: url('/assets/images/great-hall.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   height: 100vh;
   display: grid;
   justify-content: center;
}

main{
    width: 70rem;
    height: 40rem;
    background-color: var(--back-main);
    margin-top: 2rem;
    border-radius: 1rem;
    box-shadow: 1rem 1rem 1rem black;
}

h1{
    color: rgb(247, 243, 244);
    font-size: 5rem;
    text-align: center;
    margin-top: 8rem;
    margin-bottom: -5rem;
    text-shadow: 1rem 1rem 1rem rgba(192, 193, 189, 0.681);
    font-family:var(--font-title);
   max-width: 86rem;

}

.hat-img{
    width: 20rem;
    position: relative;
    right: -45rem;
    top: 9rem;
}


.talking-hat, .questions{
    color: var(--text-color);
    font-size: 3rem;
    padding: 4rem;
    font-family: var(--font-text);
}

.talking-hat{
    margin-top: -15rem;
    width: 50rem;
    text-align: center;
}


.hide{
    display: none;
}


/*Next button*/
.btn-next{
    color: var(--button-text);
    background-color: var(--button-back);
    padding: 0.5rem 2rem;
    border-radius: 3rem;
    font-family: var(--font-text);
    text-shadow: 1px 1px 1px black;
    box-shadow: 1px 1px 2px black;
    margin-left: 45rem;
    position: relative;
    top: -3rem;

}

.btn-next:hover{
    background-color: var(--button-hover);
}

/* Quiz */
.hat-quiz-img{
    width: 15rem;
    position: relative;
    right: -57rem;
    top: 25rem;
}

input{
    margin-left: 3rem;
    margin-bottom: 3rem;
}

label{
    color: white;
    font-family: var(--font-text);
    padding-left: 1rem;
    font-size: 1.5rem;;
}
label:hover{
    color: var(--label-hover)
}

.questions{
    margin-top: -15rem;
    max-width: 73rem;
}





